In [29]:
import os
import datetime
import pandas as pd
import numpy as np
import re
import sys
if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO

In [2]:
current_dir = os.getcwd()
excel_file = current_dir + "/DATA/prtntap01-02-20190923-062208-CM-STATS-HOURLY-DATA-ATP-perf.xlsx"

In [3]:
df = pd.ExcelFile(excel_file).parse('__volume')

In [4]:
def unpivot_ws(excel_file, ws_name, counter_name):
    df = pd.ExcelFile(excel_file).parse(ws_name)
    timestamp_header = list(df.columns.values)[0]
    volume_header = 'Volume_Name'
    volume_column_headers = list(df.columns.values)[1:]
    volume_column = [x for x in volume_column_headers if counter_name in x]
    df = pd.melt(df, id_vars=[timestamp_header], value_vars=volume_column, var_name=volume_header, value_name=counter_name)
    df['Volume_Name'] = df['Volume_Name'].str.split(':').str[0]
    df['Volume_Name'] = df['Volume_Name'].str.replace('\'', "")
    return df

In [5]:
total_ops = unpivot_ws(excel_file, '__volume', 'total_ops')
read_data = unpivot_ws(excel_file, '__volume', 'read_data')
write_data = unpivot_ws(excel_file, '__volume', 'write_data')
avg_latency = unpivot_ws(excel_file, '__volume', 'avg_latency')
concurrency = unpivot_ws(excel_file, '__volume', 'concurrency')
parent_aggr = unpivot_ws(excel_file, '__volume', 'parent_aggr')

In [6]:
result = [total_ops, read_data, write_data, avg_latency, concurrency, parent_aggr]
result = reduce(lambda  left,right: pd.merge(left,right,on=['FilerTimestamp', 'Volume_Name'], how='outer'), result)

In [8]:
result.head()

,FilerTimestamp,Volume_Name,total_ops,read_data,write_data,avg_latency,concurrency,parent_aggr
0,2019-06-24 11:32:30,FAST_STORAGE_301,6.684722,72103.253333,880.924444,81.957449,0.547863,prtntap01_02_tier01_aggr01
1,2019-06-24 12:32:30,FAST_STORAGE_301,6.694722,72104.391111,942.222222,82.148915,0.549964,prtntap01_02_tier01_aggr01
2,2019-06-24 13:32:30,FAST_STORAGE_301,6.821111,73847.182222,870.400000,80.573709,0.549602,prtntap01_02_tier01_aggr01
3,2019-06-24 14:32:30,FAST_STORAGE_301,6.972500,75592.391111,931.555556,80.454046,0.560966,prtntap01_02_tier01_aggr01
4,2019-06-24 15:32:30,FAST_STORAGE_301,6.961667,75591.395556,870.400000,79.791876,0.555484,prtntap01_02_tier01_aggr01

In [27]:
result.groupby('Volume_Name').mean()

,total_ops,read_data,write_data,avg_latency,concurrency
Volume_Name,,,,,
FAST_STORAGE_301,904.895419,1.230560e+07,1.546321e+07,373.668652,445.047673
FAST_STORAGE_401,6.751436,7.769458e+04,2.958278e+03,92.200157,0.624717
PRT_MGMT03,113.569630,8.255305e+05,1.957237e+06,328.431002,47.021569
TEST_NFS3,NaN,NaN,NaN,NaN,NaN
vol0,117.044944,6.606565e+04,3.564997e+04,38.232668,4.236322

In [31]:
result['FilerTimestamp'] = pd.to_datetime(result['FilerTimestamp'])

In [33]:
result.index = result['FilerTimestamp']

In [68]:
result.head()

,FilerTimestamp,Volume_Name,total_ops,read_data,write_data,avg_latency,concurrency,parent_aggr
FilerTimestamp,,,,,,,,
2019-06-24 11:32:30,2019-06-24 11:32:30,FAST_STORAGE_301,6.684722,72103.253333,880.924444,81.957449,0.547863,prtntap01_02_tier01_aggr01
2019-06-24 12:32:30,2019-06-24 12:32:30,FAST_STORAGE_301,6.694722,72104.391111,942.222222,82.148915,0.549964,prtntap01_02_tier01_aggr01
2019-06-24 13:32:30,2019-06-24 13:32:30,FAST_STORAGE_301,6.821111,73847.182222,870.400000,80.573709,0.549602,prtntap01_02_tier01_aggr01
2019-06-24 14:32:30,2019-06-24 14:32:30,FAST_STORAGE_301,6.972500,75592.391111,931.555556,80.454046,0.560966,prtntap01_02_tier01_aggr01
2019-06-24 15:32:30,2019-06-24 15:32:30,FAST_STORAGE_301,6.961667,75591.395556,870.400000,79.791876,0.555484,prtntap01_02_tier01_aggr01

In [74]:
result.groupby('parent_aggr').mean()

,total_ops,read_data,write_data,avg_latency,concurrency
parent_aggr,,,,,
aggr0_prtntap01_02,117.044944,6.606565e+04,3.564997e+04,38.232668,4.236322
prtntap01_01_tier01_aggr01,NaN,NaN,NaN,NaN,NaN
prtntap01_02_tier01_aggr01,393.197833,5.089084e+06,6.695958e+06,285.041642,189.562299

In [77]:
result.groupby('parent_aggr').resample('H').mean().head()

                                        total_ops      read_data  \
parent_aggr        FilerTimestamp
aggr0_prtntap01_02 2019-06-24 11:00:00  39.721944   10213.134167
                   2019-06-24 12:00:00  39.319167   10162.338889
                   2019-06-24 13:00:00  39.783889   10170.259444
                   2019-06-24 14:00:00  53.847222  102063.739722
                   2019-06-24 15:00:00  39.823889   10252.079722

                                          write_data  avg_latency  concurrency
parent_aggr        FilerTimestamp
aggr0_prtntap01_02 2019-06-24 11:00:00   9908.312778    58.333667     2.317127
                   2019-06-24 12:00:00   9835.227500    58.756388     2.310252
                   2019-06-24 13:00:00   9915.607222    59.053770     2.349389
                   2019-06-24 14:00:00  93538.682500    74.676415     4.021117
                   2019-06-24 15:00:00   9941.761389    59.688434     2.377026

In [66]:
result.resample('H').mean().head()

,total_ops,read_data,write_data,avg_latency,concurrency
FilerTimestamp,,,,,
2019-06-24 11:00:00,23.203333,41158.193750,5394.618611,70.145558,1.432495
2019-06-24 12:00:00,23.006944,41133.365000,5388.724861,70.452652,1.430108
2019-06-24 13:00:00,23.302500,42008.720833,5393.003611,69.813739,1.449495
2019-06-24 14:00:00,30.409861,88828.065417,47235.119028,77.565230,2.291042
2019-06-24 15:00:00,23.392778,42921.737639,5406.080694,69.740155,1.466255

In [70]:
result.groupby('Volume_Name').mean().head()

,total_ops,read_data,write_data,avg_latency,concurrency
Volume_Name,,,,,
FAST_STORAGE_301,904.895419,1.230560e+07,1.546321e+07,373.668652,445.047673
FAST_STORAGE_401,6.751436,7.769458e+04,2.958278e+03,92.200157,0.624717
PRT_MGMT03,113.569630,8.255305e+05,1.957237e+06,328.431002,47.021569
TEST_NFS3,NaN,NaN,NaN,NaN,NaN
vol0,117.044944,6.606565e+04,3.564997e+04,38.232668,4.236322

,total_ops,read_data,write_data,avg_latency,concurrency
parent_aggr,,,,,
aggr0_prtntap01_02,117.044944,6.606565e+04,3.564997e+04,38.232668,4.236322
prtntap01_01_tier01_aggr01,NaN,NaN,NaN,NaN,NaN
prtntap01_02_tier01_aggr01,393.197833,5.089084e+06,6.695958e+06,285.041642,189.562299

In [60]:
result.groupby('Volume_Name').resample('H').mean().head()

                                      total_ops     read_data  write_data  \
Volume_Name      FilerTimestamp
FAST_STORAGE_301 2019-06-24 11:00:00   6.684722  72103.253333  880.924444
                 2019-06-24 12:00:00   6.694722  72104.391111  942.222222
                 2019-06-24 13:00:00   6.821111  73847.182222  870.400000
                 2019-06-24 14:00:00   6.972500  75592.391111  931.555556
                 2019-06-24 15:00:00   6.961667  75591.395556  870.400000

                                      avg_latency  concurrency
Volume_Name      FilerTimestamp
FAST_STORAGE_301 2019-06-24 11:00:00    81.957449     0.547863
                 2019-06-24 12:00:00    82.148915     0.549964
                 2019-06-24 13:00:00    80.573709     0.549602
                 2019-06-24 14:00:00    80.454046     0.560966
                 2019-06-24 15:00:00    79.791876     0.555484

In [63]:
FAST_STORAGE_301 = result[result.Volume_Name == 'FAST_STORAGE_301'].resample('H').mean().head()
FAST_STORAGE_301

,total_ops,read_data,write_data,avg_latency,concurrency
FilerTimestamp,,,,,
2019-06-24 11:00:00,6.684722,72103.253333,880.924444,81.957449,0.547863
2019-06-24 12:00:00,6.694722,72104.391111,942.222222,82.148915,0.549964
2019-06-24 13:00:00,6.821111,73847.182222,870.400000,80.573709,0.549602
2019-06-24 14:00:00,6.972500,75592.391111,931.555556,80.454046,0.560966
2019-06-24 15:00:00,6.961667,75591.395556,870.400000,79.791876,0.555484