In [1]:
import phe
from phe import paillier
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

%matplotlib inline

In [2]:
df = pd.read_csv('auto-mpg.csv')
df = df[df.horsepower != '?']
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
X = df[['cylinders','displacement','horsepower','weight','acceleration','model year','origin']].values.astype(np.float32)
Y = df['mpg'].values.astype(np.float32)
X1 = X[:int(X.shape[0]/2),:]
X2 = X[int(X.shape[0]/2):,:]
Y1 = Y[:int(X.shape[0]/2)]
Y2 = Y[int(X.shape[0]/2):]
X1.shape, Y1.shape, X2.shape, Y2.shape

((196, 7), (196,), (196, 7), (196,))

In [4]:
X1 = np.vstack((X1, np.zeros((X.shape[0] - X1.shape[0],X.shape[1]))))
X2 = np.vstack((np.zeros((X.shape[0] - X2.shape[0],X.shape[1])), X2))
Y1 = np.concatenate((Y1, np.zeros(Y.shape[0] - Y1.shape[0])))
Y2 = np.concatenate((np.zeros(Y.shape[0] - Y2.shape[0]), Y2))
X1T = X1.T
X2T = X2.T

In [5]:
X1.shape, X2.shape, X1.T.shape, X2.T.shape, Y1.shape, Y2.shape

((392, 7), (392, 7), (7, 392), (7, 392), (392,), (392,))

In [6]:
np.dot(X1T, X1) + np.dot(X1T, X2) + np.dot(X2T, X1) + np.dot(X2T, X2)

array([[1.28750000e+04, 4.83375000e+05, 2.45728000e+05, 6.89538400e+06,
        3.24075000e+04, 1.62127000e+05, 3.07600000e+03],
       [4.83375000e+05, 1.90976342e+07, 9.37464700e+06, 2.59345480e+08,
        1.12301190e+06, 5.73462100e+06, 9.98925000e+04],
       [2.45728000e+05, 9.37464700e+06, 4.85752400e+06, 1.32989885e+08,
        6.07832300e+05, 3.08843300e+06, 5.90440000e+04],
       [6.89538400e+06, 2.59345480e+08, 1.32989885e+08, 3.75757549e+09,
        1.77581036e+07, 8.83061810e+07, 1.68364300e+06],
       [3.24075000e+04, 1.12301190e+06, 6.07832300e+05, 1.77581036e+07,
        9.76569002e+04, 4.64036500e+05, 9.78940000e+03],
       [1.62127000e+05, 5.73462100e+06, 3.08843300e+06, 8.83061810e+07,
        4.64036500e+05, 2.26828200e+06, 4.71660000e+04],
       [3.07600000e+03, 9.98925000e+04, 5.90440000e+04, 1.68364300e+06,
        9.78940000e+03, 4.71660000e+04, 1.22800000e+03]])

In [7]:
np.dot(X.T, X)

array([[1.2875000e+04, 4.8337500e+05, 2.4572800e+05, 6.8953840e+06,
        3.2407502e+04, 1.6212700e+05, 3.0760000e+03],
       [4.8337500e+05, 1.9097636e+07, 9.3746470e+06, 2.5934547e+08,
        1.1230119e+06, 5.7346210e+06, 9.9892500e+04],
       [2.4572800e+05, 9.3746470e+06, 4.8575240e+06, 1.3298987e+08,
        6.0783225e+05, 3.0884330e+06, 5.9044000e+04],
       [6.8953840e+06, 2.5934547e+08, 1.3298987e+08, 3.7575764e+09,
        1.7758104e+07, 8.8306184e+07, 1.6836430e+06],
       [3.2407502e+04, 1.1230119e+06, 6.0783225e+05, 1.7758104e+07,
        9.7656891e+04, 4.6403650e+05, 9.7893994e+03],
       [1.6212700e+05, 5.7346210e+06, 3.0884330e+06, 8.8306184e+07,
        4.6403650e+05, 2.2682820e+06, 4.7166000e+04],
       [3.0760000e+03, 9.9892500e+04, 5.9044000e+04, 1.6836430e+06,
        9.7893994e+03, 4.7166000e+04, 1.2280000e+03]], dtype=float32)

In [8]:
np.dot(X1T, Y1) + np.dot(X1T, Y2) + np.dot(X2T, Y1) + np.dot(X2T, Y2)

array([4.62435000e+04, 1.52968590e+06, 8.68718800e+05, 2.52090614e+07,
       1.46401390e+05, 7.04839600e+05, 1.58790000e+04])

In [9]:
np.dot(X.T, Y)

array([4.6243512e+04, 1.5296858e+06, 8.6871875e+05, 2.5209068e+07,
       1.4640141e+05, 7.0483962e+05, 1.5879000e+04], dtype=float32)

In [56]:
pub, priv = paillier.generate_paillier_keypair(n_length = 1024)

In [57]:
n, g = pub.n, pub.g

In [85]:
n, g

(106016361815138288985745431835414457741657704478396045020571829806005589477138129043284119859455397482956886157445065051573235120920964127369698514157174161474679380027044744135029218487757311339336665570764826732607355833759168557717677515544469371682885043740888613470565885908065216090754520796665691964967,
 106016361815138288985745431835414457741657704478396045020571829806005589477138129043284119859455397482956886157445065051573235120920964127369698514157174161474679380027044744135029218487757311339336665570764826732607355833759168557717677515544469371682885043740888613470565885908065216090754520796665691964968)

In [86]:
p, q, hp, hq, psquare, qsquare = priv.p, priv.q, priv.hp, priv.hq, priv.psquare, priv.qsquare

In [87]:
def gcd(x, y):
    while(y):
        x, y = y, x % y
    return x

def lcm2(x, y):
    lcm = (x*y)//gcd(x,y)
    return lcm

Lx = lambda x: (x-1) / n

In [88]:
lmbda2 = lcm2(p-1, q-1)

In [89]:
temp = pow(g,lmbda2, pub.nsquare)
mu = (1 / priv.l_function(temp, n) ) % n
mu = (1 / Lx(temp) ) % n

In [90]:
m = 456

In [91]:
def enc(m):
    r = random.randint(1, n-1) ## randint give values in [a,b] hence 1 to n-1 is put to avoid 0 and n 
    r = pub.get_random_lt_n()
    c = pow(g,m) * (pow(r,n,pub.nsquare))
    return c

In [92]:
c = enc(m)

In [93]:
priv.l_function((pow(c,lmbda2,pub.nsquare)), n) * (mu % n)

2.0

In [104]:
enc_num = pub.encrypt(m * 1.0)

In [105]:
enc_num = enc_num * 10

In [107]:
priv.decrypt(enc_num)

4560.0

In [262]:
class User(object):
    def __init__(self,df , X_columns, Y_column,total_size,start,end):
        X = df[X_columns].values.astype(np.float32)
        Y = df[Y_column].values.astype(np.float32)
        print(X.dtype,Y.dtype)
        if start == 0:
            X = np.vstack((X, np.zeros((total_size-end, X.shape[1]))))
            Y = np.concatenate((Y, np.zeros(total_size - end)))
        elif end == total_size:
            X = np.vstack((np.zeros((start, X.shape[1])), X))
            Y = np.concatenate((np.zeros(start), Y))
        else:
            X = np.vstack((np.zeros((start-1,X.shape[1])), X, np.zeros((total_size-end,X.shape[1]))))
            Y = np.concatenate((np.zeros((start-1,)), Y, np.zeros((total_size-end,))))
        print(X.shape, Y.shape)
        print(X)
        print(Y)
        
    
    def sendEncryptedXYtoGetParts(self):
        pass
    
    @staticmethod
    def calculate_number_inverse(c):
        pass
    
    @staticmethod
    def calculate_matrix_inverse(A):
        #A = self.decrypt_matrix(A)
        c = np.trace(A)
        I = np.eye(A.shape[0])
        #c_inv = calculate_number_inverse(c)
        c_inv = 1 / c
        A0 = c_inv * I
        M0 = c_inv * A
        A = 2*A0 - np.dot(A0, M0)
        M = 2*M0 - M0 ** 2
        for i in range(1,50):
            A =2*A - np.dot(A, M)
            M = 2*M - M ** 2
        print(A)

In [263]:
no_of_users = 3

In [264]:
part_per_user = int(df.shape[0] / no_of_users)

In [265]:
user_shares = []
start = 0
end = part_per_user
for i in range(no_of_users):
    print(start, end)
    if i == no_of_users-1:
        user_shares.append(df.iloc[start:,:])
        end = df.shape[0]
        print(end)
        continue
    user_shares.append(df.iloc[start:end, :])
    start = end
    end += part_per_user

0 130
130 260
260 390
392

In [266]:
user_shares[0].shape, user_shares[1].shape,user_shares[2].shape

((130, 9), (130, 9), (132, 9))

In [267]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [307]:
def calculate_matrix_inverse(A):
        #A = self.decrypt_matrix(A)
        c = np.trace(A)
        I = np.eye(A.shape[0])
        #c_inv = calculate_number_inverse(c)
        c_inv = 1 / c
        A0 = c_inv * I
        M0 = c_inv * A
        A = 2*A0 - A0*M0#np.dot(A0, M0)
        M = 2*M0 - (M0 ** 2)
        for i in range(1,50):
            A =2*A - A*M #np.dot(A, M)
            M = 2*M - (M ** 2)
            if np.allclose(M, np.eye(A.shape[0]),rtol = 0.0001,atol=0.0001):
                break
        print(A)

SyntaxError: invalid syntax (<ipython-input-307-b2729ceff35d>, line 14)

In [293]:
calculate_matrix_inverse(np.array([[-1, 1.5], [1,-1]]))

[[-1. -0.]
 [-0. -1.]]

In [294]:
np.linalg.inv(np.array([[-1, 1.5], [1,-1]]))

array([[2., 3.],
       [2., 2.]])

In [298]:
a = np.abs(np.array([1.0001,2.00001]) - np.array([1.,2.]))

In [303]:
a<0.001

array([ True,  True])

In [306]:
np.allclose(np.array([1.0001,2.00001]) , np.array([1.,2.]),atol=0.0001,rtol=0.0001)

True