In [98]:
import pandas as pd
import numpy as np

In [99]:
df = pd.read_csv("/home/sunny/Downloads/test_portfolio_out.csv", index_col=0, parse_dates=True)
df.head()

,A,AAPL,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,...,WMB,WMT,WST,WY,XEL,XLNX,XOM,YUM,ZBH,ZBRA
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
df.tail()

,A,AAPL,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,...,WMB,WMT,WST,WY,XEL,XLNX,XOM,YUM,ZBH,ZBRA
2020-09-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
data = df.values

modified_data = []
for i in range(data.shape[0]):
    modified_row = []
    for j in range(data.shape[1]):
        if i==0:
            modified_row.append(data[i][j] if (~np.isnan(data[i][j])) and np.isnan(data[i+1][j]) else np.nan)
        elif i == data.shape[0]-1:
            modified_row.append(data[i][j] if (~np.isnan(data[i][j])) and np.isnan(data[i-1][j]) else np.nan)
        else:
            modified_row.append(data[i][j] if (~np.isnan(data[i][j])) and np.isnan(data[i-1][j]) and np.isnan(data[i+1][j]) else np.nan)
    
    modified_data.append(modified_row)

modified_data = np.array(modified_data)

In [103]:
modified_data.shape, data.shape

((2697, 322), (2697, 322))

In [104]:
final_df = pd.DataFrame(data=modified_data, index=df.index, columns=df.columns)
final_df.head()

,A,AAPL,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,...,WMB,WMT,WST,WY,XEL,XLNX,XOM,YUM,ZBH,ZBRA
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
final_df.to_csv("modified.csv")

False