# Homework #2 Solutions

In [1]:
import numpy as np

## Exercise #1

Step 1.1: Write (and execute) a statement that will generate a list of values associated with a standard deck of playing cards. You do not need to differentiate between suits (i.e., diamonds, hearts, clubs, spades), as they have no relevance for this particular game. The "deck" should have four 1's, four 2's, .... , four 11's (Jacks), and so on.

In [2]:
# Initialize deck
deck = list(range(1, 14)) * 4
print(deck)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Step 1.2: Report the total value associated with a full deck of cards, which represents the maximum total for a game.

In [3]:
# Total points
sum(deck)

364

## Exercise #2

Step 2.1: Define a function deal that will shuffle (randomize) and distribute the 52 playing cards evenly to two players (26 each) and return a tuple of each player's hand (as a list of values). The function does not need to take in any arguments, and should create the deck of values internally (i.e., you should not need to input the deck of values into the function; you may reuse the statement you developed for part a). You may assume that you are always playing with a standard deck (52 cards). You may make use of any NumPy functionality to perform the shuffle operation. Hint: check out this link for the functions available in np.random.

In [4]:
# Define function to deal cards to two players
def deal():
    # Initialize player hands
    p1 = []
    p2 = []
    
    # Initialize and shuffle deck
    deck = list(range(1, 14)) * 4
    np.random.shuffle(deck)
    
    # Deal cards to each player
    for i in range(len(deck)):
        if i % 2:
            p2.append(deck.pop(0))
        else:
            p1.append(deck.pop(0))
            
    return p1, p2

Step 2.2: Deal a hand to two players and display (print) each player's hand. Print each player's number of cards and the total value of the hand.

In [5]:
p1, p2 = deal()
print('Player 1s hand:', p1, len(p1), sum(p1))
print('Player 2s hand:', p2, len(p2), sum(p2))

Player 1s hand: [1, 4, 13, 10, 13, 2, 5, 6, 5, 5, 9, 4, 9, 1, 3, 11, 2, 13, 10, 1, 11, 6, 4, 6, 12, 9] 26 175
Player 2s hand: [11, 3, 9, 7, 12, 8, 2, 8, 10, 2, 10, 3, 7, 6, 1, 4, 7, 8, 12, 8, 12, 5, 11, 13, 3, 7] 26 189

## Exercise #3

Step 3.1: In a markdown cell, write out the steps of what should occur in a game of Addition War. This will provide an outline for your code to follow. I have written the first and last two steps for you below. Be sure to include what happens in the case of a tie and what happens if the deck is exhausted in the middle of a tie. What is the maximum number of rounds that could be played in the game (occurs when there are no ties)?

1. Shuffle deck.
2. Deal half of deck to each player.
3. Round begins. Each player plays two cards.
4. If one player has a higher sum of their two cards than the other player, that player wins the roud and takes the other player's cards.
5. If there is a tie, continue to play until someone wins and ends the round. If the deck runs out in the middle of breaking a tie, the game ends and cards are returned to the players.
6. Game terminates after a maximum of 13 rounds (occurs when there are no ties) and the deck is exhausted.
7. The player with the highest total card points (in their discard pile) wins the game.

Step 3.2: Define a function play that will simulate a single game of Addition War between two players. This function will have no arguments. As written above, note that you will need to account for rounds in which a given player wins outright (i.e., after the initial play of two cards) and for rounds in which one or more ties occur. You will also need to terminate the game appropriately (i.e., after each player has played all of their cards once).

In [6]:
# Define function to play a single game
def play():
    # Deal cards to players, initialize claim lists
    p1, p2 = deal()
    p1_claim, p2_claim = [], []
    
    # Collect statistics
    S = {}
    
    # Calculate initial statistics
    S['initial_sums'] = (sum(p1), sum(p2))
    
    # Play!
    k = 1 # round counter
    i = 13 # maximum number of rounds
    while i > 0:
        # Print round
        print('Round:', k)
        
        # Each player plays two cards
        p1_play = [p1.pop(0), p1.pop(0)]
        p2_play = [p2.pop(0), p2.pop(0)]
        i -= 1
        
        # Check for tie, and process accordingly
        if sum(p1_play) > sum(p2_play):
            # Player 1 wins hand, append cards to claim list
            p1_claim.extend(p1_play); p1_claim.extend(p2_play)
            print('\tPlayer 1 wins hand (%d over %d), collects' % (sum(p1_play), sum(p2_play)), sum(p1_play) + sum(p2_play))
        elif sum(p2_play) > sum(p1_play):
            # Player 2 wins hand, append cards
            p2_claim.extend(p1_play); p2_claim.extend(p2_play)
            print('\tPlayer 2 wins hand (%d over %d), collects' % (sum(p2_play), sum(p1_play)), sum(p1_play) + sum(p2_play))
        else:
            # Tie - Continue to play two cards until a player wins
            print('\tTie:', sum(p1_play), 'vs.', sum(p2_play))
            if i > 0:
                while sum(p1_play[-2:]) == sum(p2_play[-2:]):
                    p1_play.extend([p1.pop(0), p1.pop(0)])
                    p2_play.extend([p2.pop(0), p2.pop(0)])
                    i -= 1

                    if sum(p1_play[-2:]) > sum(p2_play[-2:]):
                        # Player 1 wins hand, append cards to claim list
                        p1_claim.extend(p1_play); p1_claim.extend(p2_play)
                        print('\tPlayer 1 wins hand (%d over %d), collects' % (sum(p1_play[-2:]), sum(p2_play[-2:])), sum(p1_play) + sum(p2_play))
                    elif sum(p2_play[-2:]) > sum(p1_play[-2:]):
                        # Player 2 wins hand, append cards to claim list
                        p2_claim.extend(p1_play); p2_claim.extend(p2_play)
                        print('\tPlayer 2 wins hand (%d over %d), collects' % (sum(p2_play[-2:]), sum(p1_play[-2:])), sum(p1_play) + sum(p2_play))
                    else:
                        print('\t\tAnother Tie:', sum(p1_play[-2:]), 'vs.', sum(p2_play[-2:]))

                        # Check for whether game ends in a tie - return cards to respective players
                        if i <= 0:
                            p1_claim.extend(p1_play)
                            p2_claim.extend(p2_play)
                            break
            else:
                # Game ends in a tie - return cards to respective players
                p1_claim.extend(p1_play)
                p2_claim.extend(p2_play)
                    
        # Increment round
        k += 1
    
    # Game over, compile results
    S['final_sums'] = (sum(p1_claim), sum(p2_claim))
    if S['final_sums'][0] != S['final_sums'][1]:
        # One player wins
        S['winner'] = 0 if S['final_sums'][0] > S['final_sums'][1] else 1
        print('\nPlayer %d wins:' % [1, 2][S['winner']], S['final_sums'][S['winner']], 'to', S['final_sums'][1 - S['winner']])
    else:
        # Game is tied
        S['winner'] = -1
        print('\nTie Game: %d to %d' % (S['final_sums'][0], S['final_sums'][1]))
    
    # Return results
    return S

Step 3.3: From your play function, return the winner of the game and the card totals for the winner and loser. Print the result.

In [7]:
# Play single game - No ties
play()

Round: 1
	Player 1 wins hand (19 over 17), collects 36
Round: 2
	Player 1 wins hand (16 over 9), collects 25
Round: 3
	Player 1 wins hand (8 over 7), collects 15
Round: 4
	Player 1 wins hand (16 over 9), collects 25
Round: 5
	Player 1 wins hand (26 over 13), collects 39
Round: 6
	Player 1 wins hand (14 over 9), collects 23
Round: 7
	Player 1 wins hand (22 over 6), collects 28
Round: 8
	Tie: 20 vs. 20
	Player 2 wins hand (13 over 4), collects 57
Round: 9
	Player 2 wins hand (18 over 14), collects 32
Round: 10
	Player 2 wins hand (22 over 7), collects 29
Round: 11
	Player 1 wins hand (20 over 15), collects 35
Round: 12
	Player 1 wins hand (13 over 7), collects 20

Player 1 wins: 246 to 118

{'initial_sums': (199, 165), 'final_sums': (246, 118), 'winner': 0}

In [8]:
# Play single game - At least one tie
play()

Round: 1
	Player 2 wins hand (25 over 16), collects 41
Round: 2
	Player 1 wins hand (11 over 3), collects 14
Round: 3
	Player 1 wins hand (21 over 19), collects 40
Round: 4
	Tie: 11 vs. 11
	Player 2 wins hand (20 over 17), collects 59
Round: 5
	Player 1 wins hand (20 over 14), collects 34
Round: 6
	Player 2 wins hand (15 over 11), collects 26
Round: 7
	Player 1 wins hand (21 over 13), collects 34
Round: 8
	Player 2 wins hand (18 over 15), collects 33
Round: 9
	Player 2 wins hand (15 over 10), collects 25
Round: 10
	Player 2 wins hand (14 over 9), collects 23
Round: 11
	Player 1 wins hand (13 over 7), collects 20
Round: 12
	Player 1 wins hand (12 over 3), collects 15

Player 2 wins: 207 to 157

{'initial_sums': (187, 177), 'final_sums': (157, 207), 'winner': 1}

## Exercise #4

Given your implemented game, let's perform some analysis of the gameplay. For brevity in your notebook, you may want to create a copy of your play function that does not include any (active) print statements to use for this part of the assignment.

Set Up: Simulate n = 20 games of Addition War, and provide the following results and analysis (1 point each):

In [9]:
# Re-define function to play a single game - No print statements
def play():
    # Deal cards to players, initialize claim lists
    p1, p2 = deal()
    p1_claim, p2_claim = [], []
    
    # Collect statistics
    S = {}
    
    # Calculate initial statistics
    S['initial_sums'] = (sum(p1), sum(p2))
    
    # Play!
    k = 1 # round counter
    i = 13 # maximum number of rounds
    while i > 0:
        # Each player plays two cards
        p1_play = [p1.pop(0), p1.pop(0)]
        p2_play = [p2.pop(0), p2.pop(0)]
        i -= 1
        
        # Check for tie, and process accordingly
        if sum(p1_play) > sum(p2_play):
            # Player 1 wins hand, append cards to claim list
            p1_claim.extend(p1_play); p1_claim.extend(p2_play)
        elif sum(p2_play) > sum(p1_play):
            # Player 2 wins hand, append cards
            p2_claim.extend(p1_play); p2_claim.extend(p2_play)
        else:
            # Tie - Continue to play two cards until a player wins
            if i > 0:
                while sum(p1_play[-2:]) == sum(p2_play[-2:]):
                    p1_play.extend([p1.pop(0), p1.pop(0)])
                    p2_play.extend([p2.pop(0), p2.pop(0)])
                    i -= 1

                    if sum(p1_play[-2:]) > sum(p2_play[-2:]):
                        # Player 1 wins hand, append cards to claim list
                        p1_claim.extend(p1_play); p1_claim.extend(p2_play)
                    elif sum(p2_play[-2:]) > sum(p1_play[-2:]):
                        # Player 2 wins hand, append cards to claim list
                        p2_claim.extend(p1_play); p2_claim.extend(p2_play)
                    else:
                        # Check for whether game ends in a tie - return cards to respective players
                        if i <= 0:
                            p1_claim.extend(p1_play)
                            p2_claim.extend(p2_play)
                            break
            else:
                # Game ends in a tie - return cards to respective players
                p1_claim.extend(p1_play)
                p2_claim.extend(p2_play)
                    
        # Increment round
        k += 1
    
    # Game over, compile results
    S['final_sums'] = (sum(p1_claim), sum(p2_claim))
    if S['final_sums'][0] != S['final_sums'][1]:
        # One player wins
        S['winner'] = 0 if S['final_sums'][0] > S['final_sums'][1] else 1
    else:
        # Game is tied
        S['winner'] = -1
    
    # Return results
    return S

In [10]:
# Play multiple games
n = 20
results = [play() for i in range(n)]

Step 4.1: Extract the final scores for the winning and losing players, and produce descriptive statistics for each scenario, specifically the
minimum, mean, and maximum totals after each game. What do you observe about the winning and losing totals?

In [11]:
# Extract winner and loser scores
win_scores = np.array([res['final_sums'][res['winner']] for res in results if res['winner'] != -1])
lose_scores = np.array([res['final_sums'][1 - res['winner']] for res in results if res['winner'] != -1])
#lose_scores = sum(deck) - win_scores # Alternative approach
len(win_scores), len(lose_scores)

(20, 20)

In [12]:
# Summarize winning scores
print('Minimum winning score:', win_scores.min())
print('Mean winning score:', win_scores.mean())
print('Maximum winning score:', win_scores.max())

Minimum winning score: 197
Mean winning score: 234.5
Maximum winning score: 272

In [13]:
# Summarize losing scores
print('Minimum losing score:', lose_scores.min())
print('Mean losing score:', lose_scores.mean())
print('Maximum losing score:', lose_scores.max())

Minimum losing score: 92
Mean losing score: 129.5
Maximum losing score: 167

Step 4.2: What proportion of games resulted in a winner that had a lower initial total than their opponent? What was the lowest initial total to win a game (or conversely, the highest initial total to lose a game)?

Based on these results, we see that a player who has a lower initial sum can win, and consequently, a player with a higher initial sum can lose. In total, 15% of the games resulted with a player winning who had a lower initial score.

In [14]:
# Lowest initial sum to win
win_init = np.array([res['initial_sums'][res['winner']] for res in results])
win_init.min()

172

In [15]:
# Highest initial sum to lose
lose_init = np.array([res['initial_sums'][1 - res['winner']] for res in results])
lose_init.max()

192

In [16]:
# Proportion of games in which the player with the lower initial total won
sum(win_init < lose_init) / n # array comparison, produces Boolean values that we can sum to determine the true outcomes

0.15

Step 4.3: Calculate the (linear) correlation between the initial and final totals for winners vs. losers? What do you observe about the respective correlations, and what do these correlations tell you about the relationship between the initial and final totals?

We observe that the correlation between the initial and final sum for winners and losers is the same, as we would expect given this is a zero-sum game. The correlation is positive and moderately strong, which means that players who are dealt higher initial sums are more likely to end the game with a higher final sum (and vice versa). However, this correlation is not too close to 1, meaning that there is some variation in the behavior between initial and final sums. Given this variation, some players with (slightly) lower initial sums can win and some players with (slightly) higher initial sums can lose, as we saw from our previous results.

In [17]:
# Correlation between initial and final sums for winners
np.corrcoef(win_init, win_scores)

array([[1.        , 0.67266678],
       [0.67266678, 1.        ]])

In [18]:
# Correlation between initial and final sums for losers
np.corrcoef(lose_init, lose_scores)

array([[1.        , 0.67266678],
       [0.67266678, 1.        ]])

------------------------------------------------

# 2nd Exercise

## Exercise #1

### Step 1.1: (1 point) Add the capability to track the number of ties for each game. In this total, you should include not only the ties that occur at the beginning of a round, but any additional ties that occur during a tie breaker.

### Step 1.2: (1 point) Add the capability to track the largest total won during a round in a given game, which could occur in a standard round (with no ties) or a tiebreaker round (with one or more ties). You do not need to distinguish whether the total was won in a standard or tiebreaker round.

### Step 1.3: (1 point) Add the capability to play multiple games within the function, using a new argument games (equals 1 by default). The function should track the following statistics for each game, stored in a dictionary (ideally as separate entries, which will facilitate next steps):
* Initial totals (i.e., sum of card values for initially dealt hands) for player 1 and player 2, respectively
* Number of ties during gameplay
* Maximum round total won (i.e., maximum sum of card values won during a round, potentially including tie
* Final totals (i.e., sum of card values after completing gameplay) for player 1 and player 2, respectively

In [19]:
# Re-define function to play a single game - No print statements
def play(games = 1):
    results = []
    for i in range(games):
        # Deal cards to players, initialize claim lists
        p1, p2 = deal()
        p1_claim, p2_claim = [], []

        # Collect statistics
        S = {}

        # Calculate initial statistics
        S['initial_sums'] = (sum(p1), sum(p2))

        # Play!
        k = 1 # round counter
        i = 13 # maximum number of rounds
        no_of_ties = 0 ## Defining tie count var
        largest_total_won = 0
        while i > 0:
            # Each player plays two cards
            p1_play = [p1.pop(0), p1.pop(0)]
            p2_play = [p2.pop(0), p2.pop(0)]
            i -= 1

            # Check for tie, and process accordingly
            if sum(p1_play) > sum(p2_play):
                # Player 1 wins hand, append cards to claim list
                p1_claim.extend(p1_play); p1_claim.extend(p2_play)
                if (sum(p1_play) + sum(p2_play)) > largest_total_won:
                    largest_total_won = sum(p1_play) + sum(p2_play)
            elif sum(p2_play) > sum(p1_play):
                # Player 2 wins hand, append cards
                p2_claim.extend(p1_play); p2_claim.extend(p2_play)
                if (sum(p1_play) + sum(p2_play)) > largest_total_won:
                    largest_total_won = sum(p1_play) + sum(p2_play)
            else:
                no_of_ties += 1 ## Increasing tie count in normal tie
                # Tie - Continue to play two cards until a player wins
                if i > 0:
                    while sum(p1_play[-2:]) == sum(p2_play[-2:]):
                        p1_play.extend([p1.pop(0), p1.pop(0)])
                        p2_play.extend([p2.pop(0), p2.pop(0)])
                        i -= 1

                        if sum(p1_play[-2:]) > sum(p2_play[-2:]):
                            # Player 1 wins hand, append cards to claim list
                            p1_claim.extend(p1_play); p1_claim.extend(p2_play)
                            if (sum(p1_play) + sum(p2_play)) > largest_total_won:
                                largest_total_won = sum(p1_play) + sum(p2_play)
                        elif sum(p2_play[-2:]) > sum(p1_play[-2:]):
                            # Player 2 wins hand, append cards to claim list
                            p2_claim.extend(p1_play); p2_claim.extend(p2_play)
                            if (sum(p1_play) + sum(p2_play)) > largest_total_won:
                                largest_total_won = sum(p1_play) + sum(p2_play)
                        else:
                            no_of_ties += 1  ## Increasing tie count when resolving tie if further tie occurs
                            # Check for whether game ends in a tie - return cards to respective players
                            if i <= 0:
                                p1_claim.extend(p1_play)
                                p2_claim.extend(p2_play)
                                if (sum(p1_play) + sum(p2_play)) > largest_total_won:
                                    largest_total_won = sum(p1_play) + sum(p2_play)
                                break
                else:
                    # Game ends in a tie - return cards to respective players
                    p1_claim.extend(p1_play)
                    p2_claim.extend(p2_play)
                    if (sum(p1_play) + sum(p2_play)) > largest_total_won:
                        largest_total_won = sum(p1_play) + sum(p2_play)

            # Increment round
            k += 1

        # Game over, compile results
        S['final_sums'] = (sum(p1_claim), sum(p2_claim))
        if S['final_sums'][0] != S['final_sums'][1]:
            # One player wins
            S['winner'] = 0 if S['final_sums'][0] > S['final_sums'][1] else 1
        else:
            # Game is tied
            S['winner'] = -1

        S['no_of_ties'] = no_of_ties
        S['largest_total_won'] = largest_total_won
        results.append(S)
    return results

### Step 1.4: Demonstrate your function for 1-game (games = 1) and 5-game samples (games = 5), and display the resultant dictionaries for each case (1 point).

In [20]:
play(games=1)

[{'initial_sums': (172, 192),
  'final_sums': (115, 249),
  'winner': 1,
  'no_of_ties': 0,
  'largest_total_won': 35}]

In [21]:
play(games=5)

[{'initial_sums': (207, 157),
  'final_sums': (308, 56),
  'winner': 0,
  'no_of_ties': 0,
  'largest_total_won': 43},
 {'initial_sums': (184, 180),
  'final_sums': (215, 149),
  'winner': 0,
  'no_of_ties': 0,
  'largest_total_won': 47},
 {'initial_sums': (190, 174),
  'final_sums': (235, 129),
  'winner': 0,
  'no_of_ties': 3,
  'largest_total_won': 62},
 {'initial_sums': (192, 172),
  'final_sums': (262, 102),
  'winner': 0,
  'no_of_ties': 2,
  'largest_total_won': 56},
 {'initial_sums': (203, 161),
  'final_sums': (216, 148),
  'winner': 0,
  'no_of_ties': 1,
  'largest_total_won': 57}]

## Exercise #2 (1 point) 
### Simulate 1000 games and store your results in a pandas DataFrame. Preview the first and last 10 rows of your results as proof of a successful run.

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame(play(games=1000))
df.head(10)

   final_sums initial_sums  largest_total_won  no_of_ties  winner
0  (184, 180)   (196, 168)                 65           1       0
1  (120, 244)   (167, 197)                 47           0       1
2  (253, 111)   (187, 177)                 45           0       0
3  (146, 218)   (172, 192)                 44           0       1
4   (265, 99)   (204, 160)                 38           0       0
5  (211, 153)   (187, 177)                 50           2       0
6  (147, 217)   (166, 198)                 39           0       1
7  (129, 235)   (171, 193)                 41           0       1
8  (114, 250)   (168, 196)                 46           1       1
9  (255, 109)   (185, 179)                 58           1       0

## Exercise #3

### Step 3.1: (1 point) Add a new column to your DataFrame ('outcome') that contains the value 'Player 1 wins' if Player 1's final total is higher, 'Player 2 wins' if Player 2's final total is higher, or 'Tie game' if the two player's final totals are equal.

In [24]:
df['outcome'] = ['Player 1 wins' if i == 0 else 'Player 2 wins' if i == 1 else 'Tie Game' for i in df.winner]

In [25]:
df.head(10)

,final_sums,initial_sums,largest_total_won,no_of_ties,winner,outcome
0,"(184, 180)","(196, 168)",65,1,0,Player 1 wins
1,"(120, 244)","(167, 197)",47,0,1,Player 2 wins
2,"(253, 111)","(187, 177)",45,0,0,Player 1 wins
3,"(146, 218)","(172, 192)",44,0,1,Player 2 wins
4,"(265, 99)","(204, 160)",38,0,0,Player 1 wins
5,"(211, 153)","(187, 177)",50,2,0,Player 1 wins
6,"(147, 217)","(166, 198)",39,0,1,Player 2 wins
7,"(129, 235)","(171, 193)",41,0,1,Player 2 wins
8,"(114, 250)","(168, 196)",46,1,1,Player 2 wins
9,"(255, 109)","(185, 179)",58,1,0,Player 1 wins

### Step 3.2: (1 point) Add new columns for the winning total ('winning_total') and losing total ('losing_total'), which contain the final totals for the winning and losing players, respectively, and missing values (NumPy.nan) for tie games.

In [26]:
df['winning_total'] =  [i[0] if i[0] > i[1] else i[1] if i[1] > i[0] else np.nan for i in df.final_sums]
df['losing_total'] =  [i[1] if i[0] > i[1] else i[0] if i[1] > i[0] else np.nan for i in df.final_sums]

In [27]:
df.head(10)

,final_sums,initial_sums,largest_total_won,no_of_ties,winner,outcome,winning_total,losing_total
0,"(184, 180)","(196, 168)",65,1,0,Player 1 wins,184.0,180.0
1,"(120, 244)","(167, 197)",47,0,1,Player 2 wins,244.0,120.0
2,"(253, 111)","(187, 177)",45,0,0,Player 1 wins,253.0,111.0
3,"(146, 218)","(172, 192)",44,0,1,Player 2 wins,218.0,146.0
4,"(265, 99)","(204, 160)",38,0,0,Player 1 wins,265.0,99.0
5,"(211, 153)","(187, 177)",50,2,0,Player 1 wins,211.0,153.0
6,"(147, 217)","(166, 198)",39,0,1,Player 2 wins,217.0,147.0
7,"(129, 235)","(171, 193)",41,0,1,Player 2 wins,235.0,129.0
8,"(114, 250)","(168, 196)",46,1,1,Player 2 wins,250.0,114.0
9,"(255, 109)","(185, 179)",58,1,0,Player 1 wins,255.0,109.0

### Step 3.3: Preview the first 10 rows of your modified DataFrame. Then, summarize the frequency of the three outcomes and display the rows in your DataFrame that contain the 'Tie game' outcomes.

In [28]:
df.head(10)

,final_sums,initial_sums,largest_total_won,no_of_ties,winner,outcome,winning_total,losing_total
0,"(184, 180)","(196, 168)",65,1,0,Player 1 wins,184.0,180.0
1,"(120, 244)","(167, 197)",47,0,1,Player 2 wins,244.0,120.0
2,"(253, 111)","(187, 177)",45,0,0,Player 1 wins,253.0,111.0
3,"(146, 218)","(172, 192)",44,0,1,Player 2 wins,218.0,146.0
4,"(265, 99)","(204, 160)",38,0,0,Player 1 wins,265.0,99.0
5,"(211, 153)","(187, 177)",50,2,0,Player 1 wins,211.0,153.0
6,"(147, 217)","(166, 198)",39,0,1,Player 2 wins,217.0,147.0
7,"(129, 235)","(171, 193)",41,0,1,Player 2 wins,235.0,129.0
8,"(114, 250)","(168, 196)",46,1,1,Player 2 wins,250.0,114.0
9,"(255, 109)","(185, 179)",58,1,0,Player 1 wins,255.0,109.0

In [29]:
from collections import Counter
counts = Counter(df.outcome)
print(counts)
print()

for key, val in counts.items():
    print(key, "Freq : %.3f"%(val/df.shape[0]) )

Counter({'Player 1 wins': 504, 'Player 2 wins': 490, 'Tie Game': 6})

Player 1 wins Freq : 0.504
Player 2 wins Freq : 0.490
Tie Game Freq : 0.006

In [30]:
df[df.outcome == 'Tie Game']

,final_sums,initial_sums,largest_total_won,no_of_ties,winner,outcome,winning_total,losing_total
205,"(182, 182)","(168, 196)",40,0,-1,Tie Game,NaN,NaN
261,"(182, 182)","(176, 188)",38,1,-1,Tie Game,NaN,NaN
283,"(182, 182)","(180, 184)",50,1,-1,Tie Game,NaN,NaN
329,"(182, 182)","(185, 179)",37,0,-1,Tie Game,NaN,NaN
468,"(182, 182)","(169, 195)",60,1,-1,Tie Game,NaN,NaN
521,"(182, 182)","(179, 185)",47,1,-1,Tie Game,NaN,NaN

### Step 3.4: Produce descriptive statistics (e.g., minimum, mean, standard deviation, maximum) for your winning total column, and display the rows in your DataFrame that contain the top 10 winning totals. (1 point for 3.3 and 3.4)

In [31]:
df[['winning_total']].describe()

       winning_total
count     994.000000
mean      225.842052
std        32.798727
min       183.000000
25%       199.000000
50%       219.000000
75%       248.000000
max       333.000000

In [32]:
df.sort_values(by='winning_total', ascending=False).head(10)

,final_sums,initial_sums,largest_total_won,no_of_ties,winner,outcome,winning_total,losing_total
606,"(333, 31)","(213, 151)",41,0,0,Player 1 wins,333.0,31.0
166,"(332, 32)","(219, 145)",46,1,0,Player 1 wins,332.0,32.0
223,"(32, 332)","(145, 219)",59,1,1,Player 2 wins,332.0,32.0
22,"(326, 38)","(212, 152)",95,4,0,Player 1 wins,326.0,38.0
627,"(323, 41)","(214, 150)",67,1,0,Player 1 wins,323.0,41.0
849,"(323, 41)","(223, 141)",41,0,0,Player 1 wins,323.0,41.0
219,"(45, 319)","(148, 216)",43,0,1,Player 2 wins,319.0,45.0
342,"(45, 319)","(157, 207)",56,1,1,Player 2 wins,319.0,45.0
69,"(318, 46)","(216, 148)",57,2,0,Player 1 wins,318.0,46.0
46,"(316, 48)","(210, 154)",46,0,0,Player 1 wins,316.0,48.0

In [33]:
df.sort_values(by='winning_total', ascending=False).head(10).describe()

       largest_total_won  no_of_ties     winner  winning_total  losing_total
count          10.000000   10.000000  10.000000      10.000000     10.000000
mean           55.100000    1.000000   0.300000     324.100000     39.900000
std            16.542538    1.247219   0.483046       6.367452      6.367452
min            41.000000    0.000000   0.000000     316.000000     31.000000
25%            43.750000    0.000000   0.000000     319.000000     33.500000
50%            51.000000    1.000000   0.000000     323.000000     41.000000
75%            58.500000    1.000000   0.750000     330.500000     45.000000
max            95.000000    4.000000   1.000000     333.000000     48.000000

## Exercise 4

### Step 4.1: Given your DataFrame of simulated game results, calculate the frequency of the number of ties within each game (i.e., the number of rounds in which a tie occurs).

In [38]:
df.groupby(by='no_of_ties').count()[['outcome']].rename(columns={'outcome':'frequency'})

            frequency
no_of_ties
0                 499
1                 368
2                 104
3                  25
4                   4

### Step 4.2: Calculate the mean maximum round total as a function of the number of ties. What do you observe about the relationship between the number of ties and the mean maximum round total?

In [40]:
def no_of_ties_to_mean_max_total(no_of_ties=1):
    return df[df.no_of_ties == no_of_ties]['largest_total_won'].mean()

In [41]:
no_of_ties_to_mean_max_total(0)

40.33667334669339

In [42]:
no_of_ties_to_mean_max_total(1)

54.92934782608695

In [43]:
no_of_ties_to_mean_max_total(2)

63.5

In [44]:
no_of_ties_to_mean_max_total(3)

74.36

In [45]:
no_of_ties_to_mean_max_total(4)

82.25

In [46]:
no_of_ties_to_mean_max_total(5)

nan

In [47]:
df.groupby(by='no_of_ties').mean()[['largest_total_won']].rename(columns={'largest_total_won':'avg_largest_total_won'})

            avg_largest_total_won
no_of_ties
0                       40.336673
1                       54.929348
2                       63.500000
3                       74.360000
4                       82.250000

We can see from above relation between no of ties to mean maximum round total that as no of ties increases, mean maximum round total increases as well which increases chances of winner of that total of winning whole game.

In [48]:
df[['no_of_ties']].corrwith(df['largest_total_won'])

no_of_ties    0.742974
dtype: float64

We can see above that there is very positive correlation between number of ties and maximum rount total. It indicates that if there are more number of ties then it leads one party to win huge round total and hence increases his/her chances of winning more.