In [101]:
from tda import auth, client, orders
import json
import pandas as pd
from selenium import webdriver
from datetime import datetime
from concurrent.futures import ThreadPoolExecutor, ProcessPoolExecutor
from concurrent.futures import as_completed

In [2]:
# https://github.com/alexgolec/tda-api
# https://www.reddit.com/r/algotrading/comments/g1e805/i_wrote_a_python_wrapper_around_td_ameritrade_api/
# https://pypi.org/project/tda-api/
# https://tda-api.readthedocs.io/en/stable/

In [82]:
## Download Chrome Driver from this link :
## https://sites.google.com/a/chromium.org/chromedriver/downloads
token_path = 'tmp/token.pickle'
api_key = 'IJJG7SMPLB12C2ZNRY2EWJXE9OVBAMOZ@AMER.OAUTHAP'
redirect_uri = 'https://localhost'

In [83]:
try:
    c = auth.client_from_token_file(token_path, api_key)
except FileNotFoundError:
    print("Exception")
    from selenium import webdriver
    with webdriver.Chrome("/home/sunny/Downloads/Test API notebook/chromedriver") as driver:
        c = auth.client_from_login_flow(
            driver, api_key, redirect_uri, token_path)

In [137]:
def get_ohlc_data(ticker, start_date, end_date, freq="DAILY"):
    '''
    freq = [MONTHLY, WEEKLY, DAILY, EVERY_MINUTE, EVERY_FIVE_MINUTES, EVERY_FIVE_MINUTES, 
            EVERY_FIFTEEN_MINUTES, EVERY_THIRTY_MINUTES]
    '''
    period_type = client.Client.PriceHistory.PeriodType.YEAR if freq in ["MONTHLY", "WEEKLY","DAILY"] else client.Client.PriceHistory.PeriodType.DAY
    
    freq_type_map = {"DAILY": client.Client.PriceHistory.FrequencyType.DAILY,
                     "WEEKLY": client.Client.PriceHistory.FrequencyType.WEEKLY, 
                     "MONTHLY": client.Client.PriceHistory.FrequencyType.MONTHLY}
    
    frequency_type = freq_type_map.get(freq, client.Client.PriceHistory.FrequencyType.MINUTE) 
    
    if freq in ["MONTHLY", "WEEKLY", "DAILY"]:
        r = c.get_price_history(ticker,
            period_type=period_type,
            frequency_type=frequency_type,
            start_datetime = datetime.strptime(start_date, "%Y%m%d"),
            end_datetime=datetime.strptime(end_date, "%Y%m%d"),
            need_extended_hours_data=False
            )
    else:
        freq_map = {"EVERY_MINUTE": client.Client.PriceHistory.Frequency.EVERY_MINUTE, 
                    "EVERY_FIVE_MINUTES": client.Client.PriceHistory.Frequency.EVERY_FIVE_MINUTES,
                    "EVERY_TEN_MINUTES": client.Client.PriceHistory.Frequency.EVERY_TEN_MINUTES,
                    "EVERY_FIFTEEN_MINUTES": client.Client.PriceHistory.Frequency.EVERY_FIFTEEN_MINUTES,
                    "EVERY_THIRTY_MINUTES": client.Client.PriceHistory.Frequency.EVERY_THIRTY_MINUTES}
        
        r = c.get_price_history(ticker,
            period_type=period_type,
            #period=client.Client.PriceHistory.Period.THREE_DAYS,
            frequency_type=client.Client.PriceHistory.FrequencyType.MINUTE,
            frequency=freq_map[freq],
            start_datetime = datetime.strptime(start_date, "%Y%m%d"),
            end_datetime=datetime.strptime(end_date, "%Y%m%d"),
            need_extended_hours_data=False
            )

    data = r.json()
    try:
        df = pd.DataFrame(data["candles"])
        df.datetime = pd.to_datetime(df.datetime, unit="ms")
        df = df.sort_values(by=["datetime"])
        df = df[df.datetime >= datetime.strptime(start_date, "%Y%m%d")]
        df = df.set_index("datetime")
    except Exception as e:
        df = None
    return {ticker : df}

In [138]:
%%time

data = get_ohlc_data("SPY", "20200101", "20201031", "MONTHLY")
data["SPY"]

CPU times: user 11.8 ms, sys: 243 Âµs, total: 12.1 ms
Wall time: 504 ms

                       open    high     low   close      volume
datetime
2020-01-01 06:00:00  323.54  332.95  320.36  321.73  1395439668
2020-02-01 06:00:00  323.35  339.08  285.54  296.26  2111278756
2020-03-01 06:00:00  298.21  313.84  218.26  257.75  5926710256
2020-04-01 05:00:00  247.98  294.88  243.90  290.48  2820271447
2020-05-01 05:00:00  285.31  306.84  272.99  304.32  1911784390
2020-06-01 05:00:00  303.62  323.41  296.74  308.36  2359695855
2020-07-01 05:00:00  309.57  327.23  309.07  326.52  1505575953
2020-08-01 05:00:00  328.32  351.30  327.73  349.31  1045783877
2020-09-01 05:00:00  350.21  358.75  319.80  334.89  1815146487
2020-10-01 05:00:00  337.69  354.02  322.60  326.54  1629408336

In [139]:
%%time

data = get_ohlc_data("SPY", "20200101", "20201031", "WEEKLY")
data["SPY"]

CPU times: user 7.05 ms, sys: 3.78 ms, total: 10.8 ms
Wall time: 611 ms

                       open      high       low   close      volume
datetime
2020-01-06 06:00:00  320.49  327.4600  320.3600  325.71   268677902
2020-01-13 06:00:00  326.39  332.1800  325.9200  331.95   332251337
2020-01-20 06:00:00  330.90  332.9500  327.3600  328.77   266198750
2020-01-27 06:00:00  323.03  328.6300  320.7300  321.73   391274725
2020-02-03 06:00:00  323.35  334.1900  323.2200  332.20   312265760
2020-02-10 06:00:00  331.23  338.1200  331.1900  337.60   260011333
2020-02-17 06:00:00  336.51  339.0800  332.5800  333.48   294108788
2020-02-24 06:00:00  323.14  333.5623  285.5400  296.26  1244892875
2020-03-02 06:00:00  298.21  313.8400  290.2300  297.46  1130490199
2020-03-09 05:00:00  275.30  288.5200  247.6800  269.32  1564064739
2020-03-16 05:00:00  241.18  256.9000  228.0200  228.80  1523388460
2020-03-23 05:00:00  228.19  262.8000  218.2600  253.42  1342923932
2020-03-30 05:00:00  255.70  263.3300  243.9000  248.19   868619150
2020-04-06 05:00:00  257.84  281.2000  248.1698  278.20   733545619
2020-04-13 05:00:00  277.14  287.3000  271.4100  286.64   649240518
2020-04-20 05:00:00  282.61  286.7912  272.0200  282.97   509895213
2020-04-27 05:00:00  285.12  294.8800  281.5200  282.79   549993901
2020-05-04 05:00:00  280.74  292.9500  279.1300  292.44   385948319
2020-05-11 05:00:00  290.34  294.2400  272.9900  286.28   553230282
2020-05-18 05:00:00  293.05  297.8700  291.9500  295.44   443623361
2020-05-25 05:00:00  301.93  306.8400  295.4646  304.32   403802400
2020-06-01 05:00:00  303.62  321.2750  303.0600  319.34   449933609
2020-06-08 05:00:00  320.22  323.4100  298.6000  304.21   650043650
2020-06-15 05:00:00  298.02  315.6400  296.7400  308.64   573187452
2020-06-22 05:00:00  307.99  314.5000  299.4200  300.05   493363112
2020-06-29 05:00:00  301.41  315.7000  298.9300  312.23   334908791
2020-07-06 05:00:00  316.37  317.8800  310.6800  317.59   340166910
2020-07-13 05:00:00  320.13  323.0400  312.0000  321.72   401248390
2020-07-20 05:00:00  321.43  327.2300  319.2460  320.88   321105317
2020-07-27 05:00:00  321.63  326.6300  319.6400  326.52   301314577
2020-08-03 05:00:00  328.32  334.8800  327.7300  334.57   238849912
2020-08-10 05:00:00  335.06  338.2800  332.0100  336.84   256785840
2020-08-17 05:00:00  337.94  339.7200  335.2200  339.48   239583580
2020-08-24 05:00:00  342.12  350.7200  339.4504  350.58   244465362
2020-08-31 05:00:00  350.35  358.7500  334.8700  342.57   477805953
2020-09-07 05:00:00  336.71  342.6400  331.0000  334.06   381177354
2020-09-14 05:00:00  337.49  343.0600  327.9700  330.65   398139085
2020-09-21 05:00:00  325.70  331.2000  319.8000  328.73   403925934
2020-09-28 05:00:00  333.22  338.7400  331.1900  333.84   398327201
2020-10-05 05:00:00  336.06  347.3500  334.3800  346.85   297612670
2020-10-12 05:00:00  349.59  354.0200  343.1300  347.29   361462322
2020-10-19 05:00:00  348.65  349.3300  340.6500  345.78   296595696
2020-10-26 05:00:00  342.13  342.9800  322.6000  326.54   495607791

In [34]:
%%time

data = get_ohlc_data("SPY", "20200101", "20201031", "DAILY")
data["SPY"]

CPU times: user 19.7 ms, sys: 315 Âµs, total: 20 ms
Wall time: 655 ms

                       open      high     low   close     volume
datetime
2020-01-02 06:00:00  323.54  324.8900  322.53  324.87   59253833
2020-01-03 06:00:00  321.16  323.6400  321.10  322.41   77783121
2020-01-06 06:00:00  320.49  323.7300  320.36  323.64   55761948
2020-01-07 06:00:00  323.02  323.5400  322.24  322.73   42854811
2020-01-08 06:00:00  322.94  325.7800  322.67  324.45   68434153
...                     ...       ...     ...     ...        ...
2020-10-26 05:00:00  342.13  342.9800  335.62  339.39   91473002
2020-10-27 05:00:00  339.76  340.1200  337.99  338.22   65994108
2020-10-28 05:00:00  332.10  338.2483  326.13  326.66  127094307
2020-10-29 05:00:00  326.91  333.3950  325.09  329.98   90597689
2020-10-30 05:00:00  328.28  329.6900  322.60  326.54  120448685

[211 rows x 5 columns]

In [35]:
%%time

data = get_ohlc_data("SPY", "20201001", "20201031", "EVERY_MINUTE")
data["SPY"]

CPU times: user 107 ms, sys: 7.04 ms, total: 115 ms
Wall time: 944 ms

                        open    high      low     close   volume
datetime
2020-10-01 13:30:00  337.690  337.83  337.500  337.6100   675274
2020-10-01 13:31:00  337.610  337.96  337.570  337.7980   533324
2020-10-01 13:32:00  337.790  337.97  337.620  337.9000   298018
2020-10-01 13:33:00  337.890  338.42  337.880  338.2690   405861
2020-10-01 13:34:00  338.280  338.49  338.260  338.3400   389429
...                      ...     ...      ...       ...      ...
2020-10-30 19:55:00  324.535  324.97  324.435  324.8600   550844
2020-10-30 19:56:00  324.850  325.00  324.730  324.9600   433547
2020-10-30 19:57:00  324.960  325.35  324.890  325.1202   663559
2020-10-30 19:58:00  325.120  325.87  325.040  325.7600  1754114
2020-10-30 19:59:00  325.760  326.87  325.630  326.5300  4637525

[8555 rows x 5 columns]

In [36]:
%%time

data = get_ohlc_data("SPY", "20200901", "20201031", "EVERY_FIVE_MINUTES")
data["SPY"]

CPU times: user 80.6 ms, sys: 2.92 ms, total: 83.5 ms
Wall time: 619 ms

                         open      high      low    close   volume
datetime
2020-09-01 13:30:00  350.2100  350.2400  349.240  349.545  1642630
2020-09-01 13:35:00  349.5500  349.8900  349.290  349.790   849712
2020-09-01 13:40:00  349.8000  350.2200  349.778  350.084  1331087
2020-09-01 13:45:00  350.0900  350.3800  350.010  350.290   659146
2020-09-01 13:50:00  350.2918  350.5280  350.090  350.470   840411
...                       ...       ...      ...      ...      ...
2020-10-30 19:35:00  323.3800  323.6800  322.950  323.670  1489412
2020-10-30 19:40:00  323.6900  324.7300  323.460  324.710  1578765
2020-10-30 19:45:00  324.7100  325.1599  323.809  324.120  2380805
2020-10-30 19:50:00  324.1200  325.0200  324.090  324.530  3006316
2020-10-30 19:55:00  324.5350  326.8700  324.435  326.530  8039589

[3350 rows x 5 columns]

In [37]:
%%time

data = get_ohlc_data("SPY", "20200901", "20201031", "EVERY_TEN_MINUTES")
data["SPY"]

CPU times: user 30.9 ms, sys: 0 ns, total: 30.9 ms
Wall time: 408 ms

                         open      high      low    close    volume
datetime
2020-09-01 13:30:00  350.2100  350.2400  349.240  349.790   2492342
2020-09-01 13:40:00  349.8000  350.3800  349.778  350.290   1990233
2020-09-01 13:50:00  350.2918  350.5900  350.090  350.473   1309456
2020-09-01 14:00:00  350.4800  351.0700  350.420  350.433   1351896
2020-09-01 14:10:00  350.4400  350.7467  350.180  350.630   1013435
...                       ...       ...      ...      ...       ...
2020-10-30 19:10:00  323.2800  324.5600  323.180  324.160   2511494
2020-10-30 19:20:00  324.1700  324.6700  323.790  323.790   2801337
2020-10-30 19:30:00  323.7900  324.0200  322.950  323.670   2541777
2020-10-30 19:40:00  323.6900  325.1599  323.460  324.120   3959570
2020-10-30 19:50:00  324.1200  326.8700  324.090  326.530  11045905

[1675 rows x 5 columns]

In [38]:
%%time

data = get_ohlc_data("SPY", "20200901", "20201031", "EVERY_FIFTEEN_MINUTES")
data["SPY"]

CPU times: user 23.7 ms, sys: 3.58 ms, total: 27.2 ms
Wall time: 648 ms

                       open    high      low    close    volume
datetime
2020-09-01 13:30:00  350.21  350.24  349.240  350.084   3823429
2020-09-01 13:45:00  350.09  350.59  350.010  350.473   1968602
2020-09-01 14:00:00  350.48  351.07  350.240  350.380   1915778
2020-09-01 14:15:00  350.37  351.40  350.180  351.380   1577493
2020-09-01 14:30:00  351.39  351.40  350.970  351.040   1417315
...                     ...     ...      ...      ...       ...
2020-10-30 18:45:00  322.86  324.31  322.600  323.660   2961107
2020-10-30 19:00:00  323.67  324.36  323.110  324.200   3869519
2020-10-30 19:15:00  324.21  324.67  323.790  323.790   4038681
2020-10-30 19:30:00  323.79  324.73  322.950  324.710   4120542
2020-10-30 19:45:00  324.71  326.87  323.809  326.530  13426710

[1117 rows x 5 columns]

In [39]:
%%time

data = get_ohlc_data("SPY", "20200901", "20201031", "EVERY_THIRTY_MINUTES")
data["SPY"]

CPU times: user 18.2 ms, sys: 175 Âµs, total: 18.4 ms
Wall time: 398 ms

                       open      high      low     close    volume
datetime
2020-09-01 13:30:00  350.21  350.5900  349.240  350.4730   5792031
2020-09-01 14:00:00  350.48  351.4000  350.180  351.3800   3493271
2020-09-01 14:30:00  351.39  351.4000  350.600  350.6600   3937809
2020-09-01 15:00:00  350.67  351.2200  350.390  350.7950   3369448
2020-09-01 15:30:00  350.79  351.0700  350.641  350.7601   1181591
...                     ...       ...      ...       ...       ...
2020-10-30 17:30:00  324.83  324.8300  323.340  324.5000   3698584
2020-10-30 18:00:00  324.49  325.6399  323.610  323.7850   4479038
2020-10-30 18:30:00  323.78  324.3100  322.600  323.6600   6228391
2020-10-30 19:00:00  323.67  324.6700  323.110  323.7900   7908200
2020-10-30 19:30:00  323.79  326.8700  322.950  326.5300  17547252

[559 rows x 5 columns]

In [40]:
%%time

data = get_ohlc_data("SPY", "20100101", "20201031", "DAILY")
data["SPY"]

CPU times: user 71.9 ms, sys: 0 ns, total: 71.9 ms
Wall time: 525 ms

                       open      high     low   close     volume
datetime
2010-01-04 06:00:00  112.37  113.3900  111.51  113.33  118944541
2010-01-05 06:00:00  113.26  113.6800  112.85  113.63  111579866
2010-01-06 06:00:00  113.52  113.9900  113.43  113.71  116074402
2010-01-07 06:00:00  113.50  114.3300  113.18  114.19  131091048
2010-01-08 06:00:00  113.89  114.6200  113.66  114.57  126402764
...                     ...       ...     ...     ...        ...
2020-10-26 05:00:00  342.13  342.9800  335.62  339.39   91473002
2020-10-27 05:00:00  339.76  340.1200  337.99  338.22   65994108
2020-10-28 05:00:00  332.10  338.2483  326.13  326.66  127094307
2020-10-29 05:00:00  326.91  333.3950  325.09  329.98   90597689
2020-10-30 05:00:00  328.28  329.6900  322.60  326.54  120448685

[2727 rows x 5 columns]

In [41]:
%%time

data = get_ohlc_data("SPY", "19900101", "20201031", "DAILY")
data["SPY"]

CPU times: user 95.2 ms, sys: 7.6 ms, total: 103 ms
Wall time: 1.21 s

                          open       high        low      close     volume
datetime
1993-01-29 06:00:00   43.96875   43.96875   43.75000   43.93750    1003200
1993-02-01 06:00:00   43.96875   44.25000   43.96875   44.25000     480500
1993-02-02 06:00:00   44.21875   44.37500   44.12500   44.34375     201300
1993-02-03 06:00:00   44.40625   44.84375   44.37500   44.81250     529400
1993-02-04 06:00:00   44.96875   45.09375   44.46875   45.00000     531500
...                        ...        ...        ...        ...        ...
2020-10-26 05:00:00  342.13000  342.98000  335.62000  339.39000   91473002
2020-10-27 05:00:00  339.76000  340.12000  337.99000  338.22000   65994108
2020-10-28 05:00:00  332.10000  338.24830  326.13000  326.66000  127094307
2020-10-29 05:00:00  326.91000  333.39500  325.09000  329.98000   90597689
2020-10-30 05:00:00  328.28000  329.69000  322.60000  326.54000  120448685

[6991 rows x 5 columns]

In [140]:
def get_ohlc_data_for_tickers(tickers, start_date, end_date, freq="DAILY"):
    final_df = None
    for ticker in tickers:
        try:
            data = get_ohlc_data(ticker, start_date, end_date, freq)
            df = data[ticker]
            df = df[["close"]].rename(columns={"close":ticker})
            if isinstance(final_df, pd.DataFrame):
                final_df = final_df.join(df)
            else:
                final_df = df.copy()
        except Exception as e:
            print(e)
            print("Failed Ticker : ", ticker)
            
    return final_df

In [141]:
%%time

get_ohlc_data_for_tickers(["AAPL", "AMZN", "GOOG"], "20201001", "20201031", "DAILY")

CPU times: user 33.3 ms, sys: 0 ns, total: 33.3 ms
Wall time: 1.35 s

                       AAPL     AMZN     GOOG
datetime
2020-10-01 05:00:00  116.79  3221.26  1490.09
2020-10-02 05:00:00  113.02  3125.00  1458.42
2020-10-05 05:00:00  116.50  3199.20  1486.02
2020-10-06 05:00:00  113.16  3099.96  1453.44
2020-10-07 05:00:00  115.08  3195.69  1460.29
2020-10-08 05:00:00  114.97  3190.55  1485.93
2020-10-09 05:00:00  116.97  3286.65  1515.22
2020-10-12 05:00:00  124.40  3442.93  1569.15
2020-10-13 05:00:00  121.10  3443.63  1571.68
2020-10-14 05:00:00  121.19  3363.71  1568.08
2020-10-15 05:00:00  120.71  3338.65  1559.13
2020-10-16 05:00:00  119.02  3272.71  1573.01
2020-10-19 05:00:00  115.98  3207.21  1534.61
2020-10-20 05:00:00  117.51  3217.01  1555.93
2020-10-21 05:00:00  116.87  3184.94  1593.31
2020-10-22 05:00:00  115.75  3176.40  1615.33
2020-10-23 05:00:00  115.04  3204.40  1641.00
2020-10-26 05:00:00  115.05  3207.04  1590.45
2020-10-27 05:00:00  116.60  3286.33  1604.26
2020-10-28 05:00:00  111.20  3162.78  1516.62
2020-10-29 05:00:00  115.32  3211.01  1567.24
2020-10-30 05:00:00  108.86  3036.15  1621.01

In [143]:
%%time

tickers = pd.read_csv("tickers.csv").ticker.tolist()

get_ohlc_data_for_tickers(tickers, "20201025", "20201031", "DAILY")

'NoneType' object is not subscriptable
Failed Ticker :  CTL
'NoneType' object is not subscriptable
Failed Ticker :  DXC
'NoneType' object is not subscriptable
Failed Ticker :  DXCM
'NoneType' object is not subscriptable
Failed Ticker :  EA
'NoneType' object is not subscriptable
Failed Ticker :  EBAY
'NoneType' object is not subscriptable
Failed Ticker :  ECL
'NoneType' object is not subscriptable
Failed Ticker :  ED
'NoneType' object is not subscriptable
Failed Ticker :  EFX
'NoneType' object is not subscriptable
Failed Ticker :  EIX
'NoneType' object is not subscriptable
Failed Ticker :  EL
'NoneType' object is not subscriptable
Failed Ticker :  EMN
'NoneType' object is not subscriptable
Failed Ticker :  EMR
'NoneType' object is not subscriptable
Failed Ticker :  EOG
'NoneType' object is not subscriptable
Failed Ticker :  EQIX
'NoneType' object is not subscriptable
Failed Ticker :  EQR
'NoneType' object is not subscriptable
Failed Ticker :  ETFC
'NoneType' object is not subscriptable
Failed Ticker :  LLY
'NoneType' object is not subscriptable
Failed Ticker :  LMT
'NoneType' object is not subscriptable
Failed Ticker :  LNC
'NoneType' object is not subscriptable
Failed Ticker :  LNT
'NoneType' object is not subscriptable
Failed Ticker :  LOW
'NoneType' object is not subscriptable
Failed Ticker :  LRCX
'NoneType' object is not subscriptable
Failed Ticker :  LUV
'NoneType' object is not subscriptable
Failed Ticker :  LVS
'NoneType' object is not subscriptable
Failed Ticker :  LW
'NoneType' object is not subscriptable
Failed Ticker :  LYB
'NoneType' object is not subscriptable
Failed Ticker :  LYV
'NoneType' object is not subscriptable
Failed Ticker :  MA
'NoneType' object is not subscriptable
Failed Ticker :  MAA
'NoneType' object is not subscriptable
Failed Ticker :  MAR
'NoneType' object is not subscriptable
Failed Ticker :  NBL
'NoneType' object is not subscriptable
Failed Ticker :  SPG
'NoneType' object is not subscriptable
Failed Ticker :  SPGI
'NoneType' object is not subscriptable
Failed Ticker :  SRE
'NoneType' object is not subscriptable
Failed Ticker :  STE
'NoneType' object is not subscriptable
Failed Ticker :  STT
'NoneType' object is not subscriptable
Failed Ticker :  STX
'NoneType' object is not subscriptable
Failed Ticker :  STZ
'NoneType' object is not subscriptable
Failed Ticker :  SWK
'NoneType' object is not subscriptable
Failed Ticker :  SWKS
'NoneType' object is not subscriptable
Failed Ticker :  SYF
'NoneType' object is not subscriptable
Failed Ticker :  SYK
'NoneType' object is not subscriptable
Failed Ticker :  SYY
'NoneType' object is not subscriptable
Failed Ticker :  T
CPU times: user 10.4 s, sys: 152 ms, total: 10.6 s
Wall time: 3min 46s

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
datetime,,,,,,,,,,,,,,,,,,,,,
2020-10-26 05:00:00,104.63,11.80,151.21,115.05,83.92,98.37,288.32,109.00,219.23,475.20,...,114.55,33.35,47.61,18.92,90.07,99.20,139.51,295.10,32.46,160.48
2020-10-27 05:00:00,106.04,11.23,150.41,116.60,82.71,97.65,290.51,108.58,220.66,478.56,...,124.35,32.82,47.54,18.52,89.06,97.99,138.60,289.28,31.08,162.47
2020-10-28 05:00:00,101.66,10.95,146.38,111.20,80.49,95.70,283.00,106.42,213.94,456.97,...,119.76,31.57,44.84,17.23,87.35,95.06,133.37,285.20,30.60,158.69
2020-10-29 05:00:00,102.02,11.16,146.00,115.32,80.67,94.59,254.61,105.00,216.44,461.11,...,122.90,32.97,44.80,17.65,86.86,94.94,133.84,291.97,31.56,161.19
2020-10-30 05:00:00,102.09,11.28,147.28,108.86,85.10,96.07,251.88,105.11,216.91,447.10,...,118.69,32.62,47.19,17.38,87.14,93.33,132.10,283.64,32.27,158.55

In [144]:
%%time

get_ohlc_data_for_tickers(tickers, "20201030", "20201031", "DAILY")

'NoneType' object is not subscriptable
Failed Ticker :  APTV
'NoneType' object is not subscriptable
Failed Ticker :  ARE
'NoneType' object is not subscriptable
Failed Ticker :  ATO
'NoneType' object is not subscriptable
Failed Ticker :  ATVI
'NoneType' object is not subscriptable
Failed Ticker :  AVB
'NoneType' object is not subscriptable
Failed Ticker :  AVGO
'NoneType' object is not subscriptable
Failed Ticker :  AVY
'NoneType' object is not subscriptable
Failed Ticker :  AWK
'NoneType' object is not subscriptable
Failed Ticker :  AXP
'NoneType' object is not subscriptable
Failed Ticker :  AZO
'NoneType' object is not subscriptable
Failed Ticker :  BA
'NoneType' object is not subscriptable
Failed Ticker :  BAC
'NoneType' object is not subscriptable
Failed Ticker :  BAX
'NoneType' object is not subscriptable
Failed Ticker :  BBY
'NoneType' object is not subscriptable
Failed Ticker :  BDX
'NoneType' object is not subscriptable
Failed Ticker :  BEN
'NoneType' object is not subscriptable
Failed Ticker :  BF.B
'NoneType' object is not subscriptable
Failed Ticker :  BIIB
'NoneType' object is not subscriptable
Failed Ticker :  BIO
'NoneType' object is not subscriptable
Failed Ticker :  BK
'NoneType' object is not subscriptable
Failed Ticker :  BKNG
'NoneType' object is not subscriptable
Failed Ticker :  BKR
'NoneType' object is not subscriptable
Failed Ticker :  BLK
'NoneType' object is not subscriptable
Failed Ticker :  BLL
'NoneType' object is not subscriptable
Failed Ticker :  BMY
'NoneType' object is not subscriptable
Failed Ticker :  CTL
'NoneType' object is not subscriptable
Failed Ticker :  ETFC
'NoneType' object is not subscriptable
Failed Ticker :  FOX
'NoneType' object is not subscriptable
Failed Ticker :  FOXA
'NoneType' object is not subscriptable
Failed Ticker :  FRC
'NoneType' object is not subscriptable
Failed Ticker :  FRT
'NoneType' object is not subscriptable
Failed Ticker :  FTI
'NoneType' object is not subscriptable
Failed Ticker :  FTNT
'NoneType' object is not subscriptable
Failed Ticker :  FTV
'NoneType' object is not subscriptable
Failed Ticker :  GD
'NoneType' object is not subscriptable
Failed Ticker :  MS
'NoneType' object is not subscriptable
Failed Ticker :  MSCI
'NoneType' object is not subscriptable
Failed Ticker :  MSFT
'NoneType' object is not subscriptable
Failed Ticker :  MSI
'NoneType' object is not subscriptable
Failed Ticker :  MTB
'NoneType' object is not subscriptable
Failed Ticker :  MTD
'NoneType' object is not subscriptable
Failed Ticker :  MU
'NoneType' object is not subscriptable
Failed Ticker :  MXIM
'NoneType' object is not subscriptable
Failed Ticker :  MYL
'NoneType' object is not subscriptable
Failed Ticker :  NBL
'NoneType' object is not subscriptable
Failed Ticker :  NCLH
'NoneType' object is not subscriptable
Failed Ticker :  NDAQ
'NoneType' object is not subscriptable
Failed Ticker :  NEE
'NoneType' object is not subscriptable
Failed Ticker :  NEM
'NoneType' object is not subscriptable
Failed Ticker :  NFLX
'NoneType' object is not subscriptable
Failed Ticker :  NI
'NoneType' object is not subscriptable
Failed Ticker :  NKE
'NoneType' object is not subscriptable
Failed Ticker :  NLOK
'NoneType' object is not subscriptable
Failed Ticker :  NLSN
'NoneType' object is not subscriptable
Failed Ticker :  NOC
'NoneType' object is not subscriptable
Failed Ticker :  NOV
'NoneType' object is not subscriptable
Failed Ticker :  NOW
'NoneType' object is not subscriptable
Failed Ticker :  NRG
'NoneType' object is not subscriptable
Failed Ticker :  NSC
CPU times: user 8.84 s, sys: 139 ms, total: 8.98 s
Wall time: 4min 4s

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
datetime,,,,,,,,,,,,,,,,,,,,,
2020-10-30 05:00:00,102.09,11.28,147.28,108.86,85.1,96.07,251.88,105.11,216.91,447.1,...,118.69,32.62,47.19,17.38,87.14,93.33,132.1,283.64,32.27,158.55

In [145]:
def get_ohlc_data_for_tickers_parallel(executor, tickers, start_date, end_date, freq="DAILY"):
    futures = []
    for ticker in tickers:
        future = executor.submit(get_ohlc_data, ticker, start_date, end_date, freq)
        futures.append(future)
        
    final_df = None
    for future in as_completed(futures):
        try:
            data = future.result()
            ticker = list(data.keys())[0]
            df = data[ticker]
            df = df[["close"]].rename(columns={"close":ticker})
            if isinstance(final_df, pd.DataFrame):
                final_df = final_df.join(df)
            else:
                final_df = df.copy()
        except Exception as e:
            print(e)
            #print("Failed Tickers : ", ticker)
    return final_df

In [146]:
%%time

tpe = ThreadPoolExecutor(max_workers=50)

get_ohlc_data_for_tickers_parallel(tpe, tickers,"20201025", "20201031", "DAILY")

'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable

'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable

WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com

'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable

WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com

'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable

WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: api.tdameritrade.com

'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
CPU times: user 3.29 s, sys: 341 ms, total: 3.63 s
Wall time: 5.98 s

,A,AVGO,AVY,ALGN,AAL,ANET,ABT,AJG,APD,AMP,...,BXP,BWA,CAH,CARR,C,CAG,ALK,CBOE,BR,CB
datetime,,,,,,,,,,,,,,,,,,,,,
2020-10-26 05:00:00,104.63,363.04,139.25,454.51,11.80,208.87,109.00,106.16,286.40,165.61,...,75.41,38.48,48.03,33.71,43.26,37.55,38.58,80.625,142.18,125.99
2020-10-27 05:00:00,106.04,359.60,138.15,455.09,11.23,210.55,108.58,105.57,283.50,162.39,...,73.74,37.54,47.48,33.60,41.88,36.96,37.47,81.300,139.99,123.41
2020-10-28 05:00:00,101.66,347.21,135.15,439.51,10.95,204.38,106.42,104.31,272.98,158.25,...,71.15,36.65,45.96,33.30,41.13,35.86,35.71,78.470,135.48,127.42
2020-10-29 05:00:00,102.02,355.01,139.81,436.57,11.16,203.16,105.00,103.00,276.77,161.11,...,71.64,35.44,45.61,34.07,41.66,35.50,36.78,79.220,138.12,132.75
2020-10-30 05:00:00,102.09,349.63,138.39,426.08,11.28,208.90,105.11,103.71,276.24,160.83,...,72.41,34.98,45.79,33.39,41.42,35.09,37.89,81.290,137.60,129.91

In [147]:
%%time

ppe = ProcessPoolExecutor(max_workers=50)

get_ohlc_data_for_tickers_parallel(ppe, tickers,"20201025", "20201031", "DAILY")

None: Max retries exceeded with url: /v1/marketdata/AME/pricehistory?apikey=IJJG7SMPLB12C2ZNRY2EWJXE9OVBAMOZ%40AMER.OAUTHAP&periodType=year&frequencyType=daily&startDate=1603564200000&endDate=1604082600000&needExtendedHoursData=False (Caused by None)
None: Max retries exceeded with url: /v1/marketdata/AMZN/pricehistory?apikey=IJJG7SMPLB12C2ZNRY2EWJXE9OVBAMOZ%40AMER.OAUTHAP&periodType=year&frequencyType=daily&startDate=1603564200000&endDate=1604082600000&needExtendedHoursData=False (Caused by None)
('Connection aborted.', OSError("(104, 'ECONNRESET')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', OSError("(32, 'EPIPE')"))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable

'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable

'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
'NoneType' object is not subscriptable
CPU times: user 687 ms, sys: 673 ms, total: 1.36 s
Wall time: 7.26 s