In [1]:
import pandas as pd
import numpy as np
import folium

In [2]:
df = pd.read_csv('mLocations.csv')
df = df.rename(columns={'Unnamed: 0': 'name'})
df.head()

   name                             place_coord_boundaries
0   106  [[8.4475987, 11.9296331], [8.6073347, 11.92963...
1   109  [[-1.838006, 51.050942], [-1.765956, 51.050942...
2   141  [[-123.224215, 49.19854], [-123.022947, 49.198...
3   163  [[-88.048288, 41.6410191], [-87.91269, 41.6410...
4   175  [[-87.940033, 41.644102], [-87.523993, 41.6441...

In [3]:
df['lon'] = [np.array(eval(i))[:,0].mean() for i in df['place_coord_boundaries']]
df['lat'] = [np.array(eval(i))[:,1].mean() for i in df['place_coord_boundaries']]
df.head()

,name,place_coord_boundaries,lon,lat
0,106,"[[8.4475987, 11.9296331], [8.6073347, 11.92963...",8.527467,12.005000
1,109,"[[-1.838006, 51.050942], [-1.765956, 51.050942...",-1.801981,51.072319
2,141,"[[-123.224215, 49.19854], [-123.022947, 49.198...",-123.123581,49.257639
3,163,"[[-88.048288, 41.6410191], [-87.91269, 41.6410...",-87.980489,41.674602
4,175,"[[-87.940033, 41.644102], [-87.523993, 41.6441...",-87.732013,41.833584

In [6]:
folium_map = folium.Map(location=[(df.lat.min()+df.lat.max())/2, (df.lon.min()+df.lon.max())/2],
                        zoom_start=2.2,
                        tiles="CartoDB dark_matter"
                        )

for i in range(0, len(df)):
    folium.CircleMarker(location=(df.loc[i]['lat'], df.loc[i]['lon']),
                            radius=float(5),
                            color='orange',
                            #popup=df.loc[i]['name'],
                            #tooltip=df.loc[i]['name'],
                            fill=True).add_to(folium_map)

In [7]:
folium_map.save('example.html')

In [8]:
folium_map2 = folium.Map(
    location=[(df.lat.min()+df.lat.max())/2, (df.lon.min()+df.lon.max())/2],
    zoom_start=2.2,
    tiles='Stamen Toner',
)

for i in range(0, len(df)):
    folium.Marker(location=(df.loc[i]['lat'], df.loc[i]['lon']),
                            #color='orange',
                            icon=folium.Icon(color='green')
                            #popup=df.loc[i]['name'],
                            #tooltip=df.loc[i]['name'],
                            ).add_to(folium_map2)

In [9]:
folium_map2.save('example2.html')